  
.Header__paragraph {
    color: black;
    margin: 5px;
}

.Header__submenuContainer:hover .Header__submenu{
    display: block;
}

.Header__submenu {
    position: absolute;
    left: 194px;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;
    z-index: 1;
    display: none;
}